body {
    background-image:linear-gradient(30deg,white,rgb(211, 221, 247));
}
.ptsh{
    font-weight: 600;
}
input {
    width: 50%;
    border-radius: 0;
    border: none;
    margin: 7px;
    height: 30px;
}
select {
    width: 50%;
    border-radius: 0;
    border: none;
    margin: 7px;
    height: 30px;
    text-align: center;
}
#forms {
    height: 350px;
    width: 500px;
    padding: 20px;
    border-color: black;
    border-radius: 25px;
    text-align: center;
    background-color: white;
    border: 5px;
    border-color: black;
   
}
#radarChart{
    width: 100% !important;
    height: 100% !important;
}
#chartContainer {
    width: 50%;
    height: auto;
    position: absolute;
    right: 20px;
    top: 50px;
}
progress {
    border-radius: 7px; 
    width: 45%;
    height: 25px;
    margin-left: -11.5%;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
    margin-left: 7px;
    margin-bottom: 10px;
  }
  progress::-webkit-progress-bar {
    background-color: white;
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: rgb(255, 250, 226);
    border-radius: 7px;
  }